# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/

# C/C++
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.slo
*.lo
*.la
*.al
.libs/
*.log
*.status
*.deps/
*.libs/
*.trash/
*.swp
*.bak
*.tmp
*~

# Executables (add specific names if needed)
# division
# cohete
# etc.

# General
.DS_Store
Thumbs.db
*.tmp
*.log

# VS Code (optional, uncomment if you want to ignore)
# .vscode/

# Other
*.swp
*.swo
*~
.vscode/tasks.json

# Dejo fuera los apuntes
SistemaSolar/Teoria/planetas-SLIDES.pdf
Apuntes.ipynb